// root
:root {
  
}
// end root

// color
$primaryColor: #d9a320;
$pinkColor: #fc6c8f;
$orangeColor: #ffb86c;
$darkMainColor: #111729;

// gradient

// end gradient

// Font
$primaryFont: 'Radio Canada', sans-serif;;

/* BreakPoint */
// Mobile App
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

// Web App
/* $sm: 639px;
$md: 767px;
$lg: 1023px;
$xl: 1279px;
$xxl: 1535px; */
